@model DepartmentViewModels

<form method="post" asp-controller="Department" asp-action="@ViewBag.Action" class="col-8">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Code">Code</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    @if (ViewBag.Action =="Create")
    {
        <div class=" mt-4">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-controller="Department" asp-action="Index" class="btn btn-outline-dark">Back To list</a>
        </div>
    }
    else
    {
        <div class=" mt-4">
            <input type="submit" value="Edit" class="btn btn-success" />
            <a asp-controller="Department" asp-action="Index" class="btn btn-outline-dark">Back To list</a>
        </div>
    }
</form>
