@model DepartmentDetailsToReturnDto

<ul class="nav nav-tabs" id="departmentTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="administration-tab" data-bs-toggle="tab" href="#administration" role="tab" aria-controls="administration">Administration</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="row">
            <div class="col-6 form-group">
                <label class="col-form-label" asp-for="Code">Code</label>
                <input asp-for="Code" class="form-control" readonly />
            </div>
            <div class="col-6 form-group">
                <label class="col-form-label" asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="col-12 form-group">
                <label class="col-form-label" asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" readonly />
            </div>
        </div>
    </div>

</div>
@if (ViewData["Title"] as string=="Details")
{
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
    </div>
}
else
{
    <div class="mt-4">
        <form asp-controller="Department" asp-action="Delete" method="post" asp-route-id="@Model.Id">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
        </form>
    </div>
}